<table>
  <tr>
    <td><%= SynergyConfiguration.human_attribute_name(:preferred_juridical_enabled) %>:</td>
    <td><%= @synergy_configuration['juridical_enabled'] ? t("yes") : t("no") %></td>
  </tr>
  <tr>
    <td><%= SynergyConfiguration.human_attribute_name(:preferred_recipient) %>:</td>
    <td><%= @synergy_configuration['recipient'] %></td>
  </tr>
  <tr>
    <td><%= SynergyConfiguration.human_attribute_name(:preferred_address) %>:</td>
    <td><%= @synergy_configuration['address'] %></td>
  </tr>
  <tr>
    <td><%= SynergyConfiguration.human_attribute_name(:preferred_inn) %>:</td>
    <td><%= @synergy_configuration['inn'] %></td>
  </tr>
  <tr>
    <td><%= SynergyConfiguration.human_attribute_name(:preferred_kpp) %>:</td>
    <td><%= @synergy_configuration['kpp'] %></td>
  </tr>
  <tr>
    <td><%= SynergyConfiguration.human_attribute_name(:preferred_bank) %>:</td>
    <td><%= @synergy_configuration['bank'] %></td>
  </tr>
  <tr>
    <td><%= SynergyConfiguration.human_attribute_name(:preferred_settlement_acc) %>:</td>
    <td><%= @synergy_configuration['settlement_acc'] %></td>
  </tr>
  <tr>
    <td><%= SynergyConfiguration.human_attribute_name(:preferred_corr) %>:</td>
    <td><%= @synergy_configuration['corr'] %></td>
  </tr>
  <tr>
    <td><%= SynergyConfiguration.human_attribute_name(:preferred_bik) %>:</td>
    <td><%= @synergy_configuration['bik'] %></td>
  </tr>
  <tr>
    <td><%= SynergyConfiguration.human_attribute_name(:preferred_nds) %>:</td>
    <td><%= @synergy_configuration['nds'] ? t(:w_nds) : t(:wo_nds) %></td>
  </tr>
  <tr>
    <td><%= SynergyConfiguration.human_attribute_name(:preferred_director) %>:</td>
    <td><%= @synergy_configuration['director'] %></td>
  </tr>
  <tr>
    <td><%= SynergyConfiguration.human_attribute_name(:preferred_accountant) %>:</td>
    <td><%= @synergy_configuration['accountant'] %></td>
  </tr>
</table>