<p>
  <%= f.label :preferred_juridical_enabled %>:
  <%= f.check_box :preferred_juridical_enabled %>
</p>

<%= f.field_container :preferred_recipient do %>
  <%= f.label :preferred_recipient %>:<br />
  <%= f.text_field :preferred_recipient, :size => 40 %>
  <%= error_message_on :synergy_configuration, :preferred_recipient %>
<% end %>

<%= f.field_container :preferred_address do %>
  <%= f.label :preferred_address %>:<br />
  <%= f.text_field :preferred_address, :size => 40 %>
  <%= error_message_on :synergy_configuration, :preferred_address %>
<% end %>

<%= f.field_container :preferred_inn do %>
  <%= f.label :preferred_inn %>:<br />
  <%= f.text_field :preferred_inn, :maxlength => 10 %>
  <%= error_message_on :synergy_configuration, :preferred_inn %>
<% end %>

<%= f.field_container :preferred_kpp do %>
  <%= f.label :preferred_kpp %>:<br />
  <%= f.text_field :preferred_kpp, :maxlength => 9 %>
  <%= error_message_on :synergy_configuration, :preferred_kpp %>
<% end %>

<%= f.field_container :preferred_bank do %>
  <%= f.label :preferred_bank %>:<br />
  <%= f.text_field :preferred_bank, :size => 40 %>
  <%= error_message_on :synergy_configuration, :preferred_bank %>
<% end %>

<%= f.field_container :preferred_settlement_acc do %>
  <%= f.label :preferred_settlement_acc %>:<br />
  <%= f.text_field :preferred_settlement_acc, :maxlength => 20, :size => 25 %>
  <%= error_message_on :synergy_configuration, :preferred_settlement_acc %>
<% end %>

<%= f.field_container :preferred_corr do %>
  <%= f.label :preferred_corr %>:<br />
  <%= f.text_field :preferred_corr, :maxlength => 20, :size => 25 %>
  <%= error_message_on :synergy_configuration, :preferred_corr %>
<% end %>

<%= f.field_container :preferred_bik do %>
  <%= f.label :preferred_bik %>:<br />
  <%= f.text_field :preferred_bik, :maxlength => 9 %>
  <%= error_message_on :synergy_configuration, :preferred_bik %>
<% end %>

<p>
  <%= f.label :preferred_nds %>:<br />
  <%= f.radio_button :preferred_nds, false %>
  <%= t(:wo_nds) %>&nbsp;
  <%= f.radio_button :preferred_nds, true %>
  <%= t(:w_nds) %>
</p>

<%= f.field_container :preferred_director do %>
  <%= f.label :preferred_director %>:<br />
  <%= f.text_field :preferred_director %>
  <%= error_message_on :synergy_configuration, :preferred_director %>
<% end %>

<%= f.field_container :preferred_accountant do %>
  <%= f.label :preferred_accountant %>:<br />
  <%= f.text_field :preferred_accountant %>
  <%= error_message_on :synergy_configuration, :preferred_accountant %>
<% end %>