<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t('synergy_settings') %></h1>

<%= render "shared/error_messages", :target => @synergy_configuration %>

<%= form_for @synergy_configuration, :url => admin_synergy_settings_path, :method => :put do |f| %>
  <h2><%= t(:contacts_settings) %></h2>
  <%= render 'contacts_fields' %>

  <h2><%= t(:juridical_settings) %></h2>
  <%= render 'juridical_fields', :f => f %>

  <p class="form-buttons">
    <%= button t('update') %>
    <%= t("or") %> <%= link_to t("cancel"), admin_synergy_settings_url %>
  </p>
<% end %>
