<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t 'synergy_settings' %></h1>

<%= form_tag(admin_synergy_settings_path, :method => :put) do %>
  <h2><%= t 'contacts_settings' %></h2>
  <%= render 'contacts_fields' %>

  <p class="form-buttons">
    <%= button t('update') %>
    <%= t("or") %> <%= link_to t("cancel"), admin_synergy_settings_url %>
  </p>
<% end %>