<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t(:synergy_settings) %></h1>

<h2><%= t(:contacts_settings) %></h2>
<%= render 'contacts' %>

<h2><%= t(:juridical_settings) %></h2>
<%= render 'juridical' %>


<p><%= link_to_with_icon 'edit', t(:edit), edit_admin_synergy_settings_path %></p>
