<%= render :partial => 'admin/shared/order_tabs', :locals => {:current => "Juridical Info"} %>

<h3><%= t('juridical_info') %></h3>

<table>
  <tr>
    <td><%= User.human_attribute_name('recipient') %>:</td>
    <td><%= @user.recipient %></td>
  </tr>
  <tr>
    <td><%= User.human_attribute_name('juridical_address') %>:</td>
    <td><%= @user.juridical_address %></td>
  </tr>
  <tr>
    <td><%= User.human_attribute_name('inn') %>:</td>
    <td><%= @user.inn %></td>
  </tr>
  <tr>
    <td><%= User.human_attribute_name('kpp') %>:</td>
    <td><%= @user.kpp %></td>
  </tr>
  <tr>
    <td><%= User.human_attribute_name('recipient_bank') %>:</td>
    <td><%= @user.recipient_bank %></td>
  </tr>
  <tr>
    <td><%= User.human_attribute_name('settlement_acc') %>:</td>
    <td><%= @user.settlement_acc %></td>
  </tr>
  <tr>
    <td><%= User.human_attribute_name('corr') %>:</td>
    <td><%= @user.corr %></td>
  </tr>
  <tr>
    <td><%= User.human_attribute_name('bik') %>:</td>
    <td><%= @user.bik %></td>
  </tr>
  <tr>
    <td><%= User.human_attribute_name('nds') %>:</td>
    <td><%= @user.nds ? t('yes') : t('no') %></td>
  </tr>
</table>