<%= render "shared/error_messages", :target => @user %>

<h1><%= t(:edit_account_status) %></h1>

<% if Spree::Synergy::Config[:juridical_enabled] %>
  <%= form_for(@user, :url => update_status_account_path, :html => { :method => :put }) do |f| %>
    <%= render 'status_form', :f => f %>
  
    <p><%= submit_tag t(:update) %></p>
  <% end %>
<% end %>