<html>
<head>
<title>СЧЕТ № <%= @order.number %> от <%= @order.updated_at.strftime("%d.%m.%Y") %></title>
<style type="text/css">
p {
font-family: Times New Roman; 
font-size: 10pt;
}
td {
font-family: Times New Roman; 
font-size: 10pt;
}
a:hover   { 
color: #FF0000; 
}
</style>
</head>
<body link="#03388A" vlink="#555555" alink="#FF0000" bgcolor="#FFFFFF">
<div align="center"><center>
<table border="0" cellpadding="0" cellspacing="10" width="640">
      <tr>
        <td valign="top"><strong>Поставщик:</strong></td>
        <td><strong><%= @synergy_configuration['recipient'] %></strong><br />
        Банковские реквизиты:<br />Расчетный счет: <%= @synergy_configuration['settlement_acc'] %><br /><%= @synergy_configuration['bank'] %>,<br />БИК: <%= @synergy_configuration['bik'] %><br />к/с: <%= @synergy_configuration['corr'] %><br />
        ИНН:&nbsp;<%= @synergy_configuration['inn'] %><br />
		КПП:&nbsp;<%= @synergy_configuration['kpp'] %></td>
      </tr>
      <tr>
        <td valign="top"><strong>Плательщик:</strong></td>
        <td><strong><%= @user.recipient %></strong><br />
        Адрес:&nbsp;<%= @user.juridical_address %><br />
        ИНН:&nbsp;<%= @user.inn %><br />
		КПП:&nbsp;<%= @user.kpp %></td>
      </tr>
      <tr>
        <td colspan="2">

        <br />
        <p align="center"><strong>СЧЕТ №&nbsp;<%= @order.number %> от <%= @order.updated_at.strftime("%d.%m.%Y") %></strong></p>

        <div align="center">
        <table border="1" cellpadding="3" cellspacing="0" width="100%" bordercolorlight="#000000" bordercolordark="#FFFFFF">
          <tr>
          	<th align="center"><strong>№</strong></th>
            <th align="center" width="70%"><strong>Предмет счета</strong></th>
            <th align="center" width="10%"><strong>Количество</strong></th>
            <th align="center"><strong>Сумма</strong></th>
          </tr>
          <% @order.line_items.each do |item| %>
            <tr>
            	<td>1</td>
              <td width="80%"><%=item.variant.product.name%> <%= "(" + variant_options(item.variant) + ")" unless item.variant .option_values.empty? %></td>
              <td><%= item.quantity %></td>
              <td align="right" style="white-space:nowrap;"><%= number_to_currency item.total %></td>
            </tr>
          <% end %>
          <% @order.adjustments.each do |adjustment| %>
            <tr>
              <td colspan="3" width="80%" align="right"><%= adjustment.label %></td>
              <td align="right" style="white-space:nowrap;"><%= number_to_currency adjustment.amount %></td>
            </tr>
          <% end %>
          <tr>
            <td colspan="3" width="80%" align="right">ИТОГО:&nbsp;</td>
            <td align="right" style="white-space:nowrap;"><%= number_to_currency @order.total %></td>
          </tr>
          <% if @synergy_configuration['nds'] %>
            <tr>
              <td colspan="3" width="80%" align="right">В том числе НДС 18%</td>
              <td align="right" style="white-space:nowrap;"><%= "%.2f" % ((@order.total / 118.0) * 18) %> руб.</td>
            </tr>
          <% else %>
            <tr>
              <td colspan="3" width="80%" align="right">Без налога (НДС)</td>
              <td align="right" style="white-space:nowrap;">&ndash;</td>
            </tr>
          <% end %>
        </table>
        <p align="left"><strong><%= RuPropisju.rublej(@order.total.to_i).mb_chars.capitalize %> <%= @order.kopeek %> <%= Russian::p(@order.kopeek.to_i, 'копейка', 'копейки', 'копеек')%></strong></p>
       </div>

<p></p>
<p></p>
        </td>
      </tr>
</table>


<table border="0" cellpadding="0" cellspacing="10" width="640">
      <tr>
        <td valign="top" width="50%"><br /><br /><br />Руководитель<br /><br /><br /><br /><br />Главный&nbsp;бухгалтер</td>
        <td valign="top"><img src="/images/invoice_stamp.jpg" width="310" height="210" alt="" /></td>
        <td valign="top" width="50%" style="white-space:nowrap"><br /><br /><br /><%= @synergy_configuration['director'] %><br /><br /><br /><br /><br /><%= @synergy_configuration['accountant'] %></td>
      </tr>
</table>
</div>
</body>
</html>