<html>
<header>
<style>
td{font:normal 12px/140% Verdana,Geneva, sans-serif;
color:#000;
padding:5px;
text-align:left;}
.kvit{border:1px solid #000;
border-collapse:collapse;
width:650px;}
.kvit .dashed{border:1px solid #000;
border-bottom:1px dashed #000;
border-collapse:collapse;}
.kvit .nodashed{border:1px solid #000;
border-top:none;
border-collapse:collapse;}
table{border:1px solid #8a8a8a;
border-collapse:collapse;
width:415px;}
table td{border:1px solid #8a8a8a;
border-collapse:collapse;}
.comment{border-top:1px solid #8a8a8a;
margin:3px 0 10px;}
</style>
</header>
<body>
<table cellpadding="3" class="kvit">
  <% 2.times do %>
  <tr>
    <td align="left" width="230" class="dashed">
      &nbsp;&nbsp;<b>КВИТАНЦИЯ</b>
      <%== '<br />' * 14 %>
      &nbsp;&nbsp;Кассир<br /><br />
    </td>
    <td align="right" width="415" class="dashed">
    <table border="0" cellpadding="0">
      </tr>
        <td colspan="3">
          Получатель платежа: <%= @preferences['recipient'] %><br />
          ИНН <%= @preferences['inn'] %> / КПП <%= @preferences['kpp'] %><br />
          Корр.сч. <%= @preferences['corr'] %> БИК <%= @preferences['bik'] %><br />
          Расч. сч. <%= @preferences['settlement_acc'] %> в <%= @preferences['recipient_bank'] %>, г.&nbsp;<%= @preferences['recipient_bank_city'] %>
        </td>
      </tr>
      <tr>
        <td COLSPAN="3"><%= @order.ship_address.zipcode %>, г.&nbsp;<%= @order.ship_address.city %>, <%= [@order.ship_address.address1, @order.ship_address.address2].join %>
        <div align="center" class="comment"><small>Адрес плательщика</small></div>
        </td>
      </tr>
      <tr>
        <td align="center">Вид платежа</td>
        <td align="center">Дата</td>
        <td align="center">Сумма</td>
      </tr>
      <tr>
        <td align="left">Оплата заказа № <%= @order.number %></td>
        <td width="" valign="bottom"><%= Time.now.strftime("%d.%m.%Y") %></td>
        <td width="" valign="bottom"><%= @order.total.to_i %>&nbsp;руб.&nbsp;00&nbsp;коп.</td>
      </tr>
      <tr>
        <td colspan="3" valign="center"><br><small>Плательщик (ФИО, подпись):</small>&nbsp;<em><%= [@order.ship_address.lastname, @order.shipment.address.firstname, @order.shipment.address.secondname].join(' ') %></em></td>
      </tr>
    </table>
    </td>
  </tr>
  <% end %>
</table><script language="JavaScript" type="text/JavaScript">
//setTimeout('window.print()',1000);
</script>
</body>
</html>



