<h1><%= accurate_title %></h1>

<div id="order">
  <% if params.has_key? :checkout_complete %>
  	<h3><%= t('thank_you_for_your_order') %></h3>
  <% end %>
  <%= render :partial => 'shared/order_details', :locals => {:order => @order} %>
  <p>
    <%= link_to t('back_to_store'), root_path %>
    <% unless params.has_key? :checkout_complete %>
    	| <%= link_to t('my_account'), account_path if current_user%>
    <% end %>
  </p>
  <% if @order.payment_method.is_a?(PaymentMethod::SberBankInvoice) %>
    <%= link_to t('print_sberbank_invoice'), orders_sberbank_invoice_path %>
  <% end %>
  <% if @order.payment_method.is_a?(PaymentMethod::JuridicalInvoice) %>
    <%= link_to t('print_juridical_invoice'), orders_juridical_invoice_path, :target => "_blank" %>
  <% end %>
</div>
