<%= form_tag import_from_yandex_market_path, :method => :get do %>
  <div class="box">
   <h3>Импорт с Яндекс.Маркет</h3>
   <p>
     <%= label_tag :model_id, "ID товара на ЯМ" %><br />
     <%= text_field_tag :model_id %>
   </p>
   <p>
     <%= check_box_tag :available %>&nbsp;<%= label_tag :available, "сделать доступным" %>        
   </p>
   <p class="form-buttons">
    <%= button "Импорт" %>
   </p>
  </div>
<% end %>
